*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ececece8;
}

.nav {
    padding: 7px 20%;
}

.logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.banner-home {
    background-image: linear-gradient(#201441d7, #a241d688),url(imagens/fundo.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    max-width: 1320px;
    width: 100%;
    padding: 20px;  
}

.text h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text p {
    color: #fff;
    font-size: 30px;
}

.destaques {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 80px;
}

.info {
    display: flex;
    justify-content: center;
}

.info h1 {
    color: #201441d7;
    font-size: 100px;
    margin-bottom: 20px;
}

.shirts {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.shirt img {
    height: 300px;
    width: 300px;
}
.shirt {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 10px;
}

.layer {
    width: 300px;
    height: 300px;
    background-color: transparent;
    position: absolute;
    transition: .4s;
    color: rgba(255, 255, 255, 0);
}

.layer:hover {
    background-color: #201441d7;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 50%;
    transform: translatey(100%);
}

.text-1 {
    font-size: 20px;
}

.desc {
    font-size: 15px;
}